/* html{
    background-color: #f5f7f9;
} */

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

/* 把我们所有标签的内外边距清零 */
* {
    margin: 0;
    padding: 0;
    /* css3盒子模型 */
    box-sizing: border-box;
}

/* em 和 i 斜体的文字不倾斜 */
em,
i {
    font-style: normal
}

/* 去掉li 的小圆点 */
li {
    list-style: none
}

body{
    background-color: #ccc;
}